<div class="container center">
  <div class="row">
    <form class="col s12 m8 offset-m2 l6 offset-l3">
      <div class="row">
        <div class="input-field col s6">
          <input id="endereco" type="text" class="validate">
          <label for="endereco">Endereço de entrega</label>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col s12">
      <a class="waves-effect waves-light btn-large"><i class="material-icons right">cloud</i>Continuar</a>
    </div>
  </div>
</div>