<div class="container" *ngIf=" ItensCartArray else carregando">
  <h4>Meu Carrinho</h4>
  <table>
    <tr>
      <th>#</th>
      <th>Foto</th>
      <th>Nome</th>
      <th>Valor Total</th>
    </tr>
    <tr *ngFor="let x of ItensCartArray">
      <td>{{x.produto.id}}</td>
      <td>
        <img [src]="x.produto.foto" alt="" width="80px" height="50px">
      </td>
      <td>{{x.produto.nome}}<br />
                          <span class="red-text">{{ x.quantidade }} X {{ x.produto.valor |  currency:'R$ '}}</span>
      </td>
      <td>{{x.produto.valor * x.quantidade | currency:'R$ '}}</td>
      <td><button (click)="deletaItem(x)"><i class="material-icons">delete</i></button></td>
    </tr>
    <tr>
      <blockquote>
        <p class="red-text">{{total | currency:'R$ '}}</p>
      </blockquote>
    </tr>
  </table>
</div>

<footer class="page-footer">
  <div class="footer-copyright">
      <div class="container center">
          <button class="btn-large" [routerLink]="['/Forma-pagto']">Finalizar Compra</button>
      </div>
  </div>
</footer>

<ng-template #carregando>
  <div class="center">
    <span><i class="material-icons">autorenew</i>Carregando...</span>
  </div>
</ng-template>