<div class="row" *ngFor="let prod of produtos" >
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card">
            <div class="card-image">
                <img [src]="prod.foto" class="responsive-img">
                <span class="card-title red-text"></span>
            </div>
            <div class="card-content">
                <blockquote>
                    <h4>{{prod.nome}} </h4>
                    <p class="red-text" style="font-size: 30px;">{{ prod.valor | currency:'R$ '}}</p>
                </blockquote>
            </div>
            <div class="card-action">
                <div class="row center">
                    <div class="col s4">
                        <a (click)="add(prod)" class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">add</i></a>
                    </div>
                    <div class="col s4">
                        <div class="row">
                            <span style="font-size:20px">{{ prod.quantidade }}</span>
                        </div>
                        <div class="row">
                            <span style="font-size:20px">{{ prod.valor * prod.quantidade | currency:'R$ ' }}</span>                    
                        </div>                        
                    </div>
                    <div class="col s4">
                        <a (click)="diminuir(prod)" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">remove</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="page-footer deep-orange accent-4">
    <div class="container">
        <div class="row center">
            <span style="font-size:40px;font-family: Arial, Helvetica, sans-serif">{{ total | currency:'R$ ' }}</span><br />
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center">
            <button class="btn-large" (click)="addCarrinho()">Ir para o Carrinho</button>
        </div>
    </div>
</footer>
       