<nav class="nav-extended">
  <div class="nav-wrapper">
  </div>
  <div class="nav-content">
    
    <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal">
      <i class="material-icons" (click)="inserir = !inserir">add</i>
    </a>
  </div>
</nav>
<div class="card-panel" *ngIf="inserir">
  <div class="row">
    <div class="input-field col s6">
      <input id="texto" type="text" class="validate" #itemTitulo required>
      <label for="texto" class="white-text">Escreva aqui</label>
    </div>     
  </div>
  <input type="button" class="btn btn-small" (click)="addItem(itemTitulo)" value="Inserir">
</div>
<div class="card-panel" *ngIf="itens else loading">
    <table>
      <thead>
        <tr>
          <td>O que tem para fazer</td>
          <td>Checar</td>
          <td>Ação</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of itens">
            <td>
              <span [ngStyle]="{'text-decoration': item.checado?'line-through':none}">{{ item.titulo }}</span>
            </td>
            <td>
              <label>
                <input type="checkbox" [(ngModel)]="item.checado" (click)="alterCheck(item.$key, item.idLista, item.ckecado)" />
                <span>Ok</span>
              </label>
            </td> 
            <td>
                <a class="waves-effect waves-light btn-small" (click)="delete(item.$key, item.idLista)"><i class="material-icons left">delete_sweep</i></a>
            </td>           
        </tr>
      </tbody>
    </table>
</div>

<ng-template #loading>
  <div class="card-panel">
  <span><i class="material-icons">autorenew</i>Carregando...</span>
  </div>
</ng-template>
