<nav class="nav-extended">
  <div class="nav-wrapper">
  </div>
  <div class="nav-content">
    <div class="row">
      <div class="input-field col s6">
        <input id="texto" type="text" class="validate" #itemTitulo>
        <label for="texto" class="white-text">Escreva aqui</label>
      </div>     
    </div>
    <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal">
      <i class="material-icons" (click)="addItem(itemTitulo)">add</i>
    </a>
  </div>
</nav>
<div class="card-panel">
    <table>
      <thead>
        <tr>
          <td>O que tem para fazer</td>
          <td>Checar</td>
          <td>Ação</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of itens">
            <td>
              <span [ngStyle]="{'text-decoration': item.checado?'line-through':none}">{{ item.titulo }}</span>
            </td>
            <td>
              <label>
                <input type="checkbox" [(ngModel)]="item.checado" (click)="alterCheck(item.$key, item.ckecado)" />
                <span>Ok</span>
              </label>
            </td> 
            <td>
                <a class="waves-effect waves-light btn-small" (click)="delete(item)"><i class="material-icons left">delete_sweep</i></a>
            </td>           
        </tr>
      </tbody>
    </table>
</div>